<ion-header mode="ios">
    <ion-toolbar mode="md">
        <ion-buttons mode="md" slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
      <ion-title translate>Invite your friends</ion-title>

    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

    <ion-icon name="gift" color="primary"></ion-icon>

    <p class="message" translate>Get €5 when a friend lists their first 3 items and €10 when they sell</p>
    <p class="info" translate>This offer is valid for each new member you invite, so spread the word!</p>

    <ion-button  expand="block" translate> Invite your friends</ion-button>
    <ion-button fill="outline" expand="block" translate>Share invitation</ion-button> 
    
    <p class="sm_info" translate>Read our <a>Terms and Conditions</a>. The intended recipient of the message must give their consent.</p>

</ion-content>
