<ion-header mode="ios">
  <ion-toolbar mode="md">
      <ion-buttons mode="md" slot="start">
          <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
    <ion-title translate>Personalisation settings</ion-title>
    <ion-buttons mode="md" slot="end" class="option">
        <ion-icon  src="../../assets/img/info.svg" size="small"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="ion-padding">
    <h1>Build your feed</h1>
    <p>Set your sizes and follow brands and members whose content you'd like to see.</p>
  </div>
  <ion-list mode="md">

      <ion-item mode="md" class="first-item" lines="full" detail="true" button="true"> 
          <p class="label">Categories & sizes</p> 
      </ion-item>  

      <ion-item mode="md" lines="full" detail="true" button="true"> 
          <p class="label">Brands</p> 
      </ion-item>


      <ion-item mode="md" lines="full" detail="true" button="true"> 
          <p class="label">Members</p> 
      </ion-item>

  </ion-list>

</ion-content>
