<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start" mode="md">
        <ion-back-button defaultHref="/" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.title}}</ion-title>
    <ion-buttons slot="end" mode="md">
        <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium-tint">

  <ion-slides pager="true" class="cover">
    <ion-slide *ngFor="let p of getTabNumber(product.nb_photo); let i = index" >
        <img src="./../../assets/img/products/product{{product.id}}_{{i+1}}.jpg"/>
    </ion-slide>
  </ion-slides>

  <div class="section">
     
      <ion-toolbar *ngIf="product.sold" color="success" class="disponibility" mode="md"> 
        <ion-title class="label" translate>Sold</ion-title> 
      </ion-toolbar>

      <ion-list mode="md">
          
          <ion-item detail lines="full" button="true" [routerLink]="['/customer', product.user_id]">  
              <ion-avatar item-start>
                  <ion-img src="../../../assets/img/avatars/avatar{{product.user_id}}.jpg"></ion-img>
              </ion-avatar>
              <ion-label class="user_block">
                  <p class="name">{{product.user_pseudo}}</p>
                  <p class="rating">
                      <ion-icon name="star" *ngFor="let i of getTabNumber(completeStars);"></ion-icon>
                      <ion-icon name="star-half" *ngFor="let i of getTabNumber(halfStars);"></ion-icon>
                      <ion-icon name="star-outline" *ngFor="let i of getTabNumber(emptyStars);"></ion-icon> 
                      <span class="review">{{product.user_review}} <span translate>reviews </span></span>
                  </p>
              </ion-label>
          </ion-item>
    
          <ion-item lines="none" class="short_description">
              <ion-label>
                  <p><b>{{product.title}}</b></p>
                  <p>{{product.size}} - <span translate>{{product.condition}}</span> - <a [routerLink]="['/listing', product.category_id]">{{product.brand}}</a></p>
                  <p><span class="price">{{product.price}} €</span> <span class="specific_price" *ngIf="product.specific_price">{{product.specific_price}} €</span></p>
              </ion-label>
          </ion-item>
    
      </ion-list>
    
    
      <ion-grid class="add-to-cart" *ngIf="!product.sold">
          <ion-row>
             <ion-col size="12"> <ion-button mode="md" fill="outline" expand="block" class="send-mail" [routerLink]="['/message', product.user_id]" translate>ASK SELLER</ion-button> </ion-col>
             <ion-col size="12"> <ion-button mode="md" expand="block" [routerLink]="['/payment', product.id]"  > <ion-icon src="../../../assets/img/security-on.svg"> </ion-icon> <span translate>BUY NOW</span></ion-button> </ion-col>
          </ion-row>
      </ion-grid>


      <ion-list>
        <ion-item  lines="none">
            <ion-badge item-start>
              <ion-icon src="../../../assets/img/security-on.svg" color="primary"></ion-icon>
            </ion-badge>
          <ion-label class="protection">
              <p class="policy" translate>Be covered by our refund policy</p>
              <p><a [routerLink]="['/guide']" translate>Learn more about Buyer protection</a></p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-grid class="option-bar">
          <ion-row>
              <ion-col size="6" class="first-tab"> 
                <ion-button  (click)="toogleFav(product.id)" expand="block" fill="clear" mode="md"> 
                
                <ion-icon *ngIf="!isFav(product.id)" name="heart-outline"></ion-icon> 
                <ion-icon *ngIf="isFav(product.id)" name="heart" color="danger"> </ion-icon>

                  <span translate>Favourite </span>
                </ion-button>  
              </ion-col>
              <ion-col size="6" class="second-tab"> <ion-button  expand="block" fill="clear" mode="md"> <ion-icon name="share-social-outline"></ion-icon> <span translate>Share</span></ion-button>  </ion-col>
           </ion-row>
      </ion-grid>
      <div class="intersection"></div>
  </div>

  <div class="section presentation">
    <ion-grid>
      <ion-row>
         <ion-col size="12">  
           <p translate class="ion-text-uppercase title">Item description</p>
          <p> {{product.description}} <br/> <a (click)="toogleVariation()" *ngIf="hideVariation" translate>more</a> <p>
            
          </ion-col>
         
      </ion-row>
    </ion-grid>

    <div [hidden]=hideVariation>
      <ion-list class="variation" mode="md">
          <ion-item detail lines="full"> 
            <p class="label"><b translate>Category</b></p> <p slot="end" translate>{{product.category_name}}</p>
          </ion-item>  
          <ion-item  detail lines="full" detail> 
            <p class="label"><b translate>Size</b></p> <p slot="end">{{product.size}}</p>
          </ion-item>
          <!--<ion-item  lines="full"> 
            <p class="label"><b translate>Colour</b></p> <p slot="end">Gris</p>
          </ion-item> -->

          <ion-item lines="full"> 
            <p class="label"><b translate>View Count</b></p> <p slot="end">{{product.viewed}}</p>
          </ion-item>

          <ion-item lines="full"> 
            <p class="label"><b translate>Added</b></p> <p slot="end">06/11 20:19</p>
          </ion-item>

          <ion-item  lines="full" > 
            <p class="label"><b translate>People Interested</b></p>   
            <p slot="end" *ngIf="isFav(product.id)"> {{product.fav +1}}</p>
            <p slot="end" *ngIf="!isFav(product.id)"> {{product.fav}}</p>
          </ion-item>

          <ion-item  lines="full" > 
            <p class="label"><b translate> Payment Options</b></p> <p slot="end"> <ion-icon name="card" class="payment_logo"></ion-icon>  <ion-icon src="../../../assets/img/paypal.svg"  class="payment_logo paypal" ></ion-icon></p>
          </ion-item>

          <ion-item  lines="full" (click)="tooglePostage()"> 
            <p class="label"><b translate> Postage</b></p> <p slot="end"> <span translate>from</span> 2.88 € <span class="fix-arrow"> <ion-icon name="chevron-down" *ngIf="hidePostage==true"></ion-icon> <ion-icon name="chevron-up" *ngIf="hidePostage==false"></ion-icon></span>
          </ion-item>

      </ion-list>

      <ion-grid class="shipping" mode="md" padding [hidden]=hidePostage>
            <ion-row>
              <ion-col size="2">  
                  <ion-icon class="mrelay_icon" src="../../../assets/img/mondial.svg"></ion-icon>
              </ion-col>
              <ion-col size="7">  
                  <span class="text-title"> <b>Mondial Relay</b> <br/>
                    <span translate>Available at the pick-up point in</span>  3-5 <span translate>days</span>
                  </span>
              </ion-col>
              <ion-col size="3" class="ion-text-end">  
                  <span class="text-title" style="line-height: 70px;">2.88€ </span>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="2" >  
                  <ion-icon class= "chrono_icon" src="../../../assets/img/chrono.svg"></ion-icon>
              </ion-col>
              <ion-col size="7">  
                  <span class="text-title"> <b>Chrono Shop2Shop</b> <br/>
                    <span translate>Available at the pick-up point in</span>  2 <span translate>days</span>
                  </span>
              </ion-col>
              <ion-col size="3" class="ion-text-end">  
                  <span class="text-title" style="line-height: 70px;">4.39€ </span>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="2">  
                  <ion-icon class="laposte_icon" src="../../../assets/img/laposte.svg"></ion-icon>
              </ion-col>
              <ion-col size="7">  
                  <span class="text-title"> <b>La Poste</b> <br/>
                    <span translate>Home delivery in</span> 2-3 <span translate>days</span>
                  </span>
              </ion-col>
              <ion-col size="3" class="ion-text-end">  
                  <span class="text-title" style="line-height: 70px;">4.95€ </span>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">  
                    <p class="text-medium" translate>  These shipping costs are valid only for purchases made on IonVinted </p>
              </ion-col>
            </ion-row>
      </ion-grid>
    </div>
      <ion-grid class="intersection">
          <ion-row>
             <ion-col size="12">  
               <p class="text-medium"> <a [routerLink]="['/guide']" translate>Learn more</a> <span translate> about your rights as a buyer</span></p>
              </ion-col>
          </ion-row>
        </ion-grid>

      
  </div>
  

  <div class="section cross-selling">

      <ion-list class="ad">
          <ion-item  lines="none"> 
            <p class="label"><b translate>Ad</b></p> <p slot="end"><ion-icon name="md-more"></ion-icon></p>
          </ion-item> 
          <ion-item lines="none" mode="md">
            <ion-img src="../../../assets/img/ad_format.jpg"> </ion-img>
          </ion-item> 
      </ion-list>


      <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" mode="md">
          <ion-segment-button value="0" checked mode="md">
            <ion-label translate>Member's items</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1" mode="md">
            <ion-label translate> Similar items</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="false">
            <ion-slide>
              <ion-list>
                <ion-grid>
                    <ion-row>
                      <ion-col size="9" class="bundle">
                        <p class="label"><b translate>Shop bundles!</b></p>
                        <p> <span translate>Get up to</span> 30% <span translate>off</span></p>
                      </ion-col>
                      <ion-col size="3">
                        <ion-button  expand="block" mode="md" translate> Shop</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                <app-product-list [products]="memberItems"></app-product-list>
              </ion-list>
                  
            </ion-slide>

            <ion-slide>
                <app-product-list [products]="similarItems"></app-product-list>
            </ion-slide>
        </ion-slides>

        
  </div>

</ion-content>
