
ion-content{
    --background: var(--ion-color-medium-tint);
}

.section {
    padding:10px;
    background-color:var(--ion-color-dark-contrast);
    margin-bottom:15px;
}

.small {
    font-size:13px;
}

.btn-add-photo {
    font-weight: bold;
    margin: auto;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.upload {
    text-align:center;
}

.presentation ion-item ion-label {
    font-size:20px !important;
}

.features {
    //padding-bottom:0;
    padding-top:0;
}

ion-thumbnail {
    --size:100px;
    margin:5px;
    position:relative;
}

ion-thumbnail ion-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}
