ion-list {
    width:100%;
}

ion-toolbar ion-icon{
    font-size:22px;
}

.short_description p{
    font-size: 15px;
    color: var(--ion-color-dark-tint);
}

.short_description ion-icon{
    margin-right:5px;
    font-size:13px;
}

.short_description a{
    text-decoration: none;
}

.bundle p{
    text-align: left;
    margin: 0px;
    font-size: 15px;
}

ion-grid {
    border-bottom:solid var(--ion-color-medium-shade) 1px;
}

.date {
    float:right;
    font-size:13px;
    color: var(--ion-text-color);
}

.me {
    margin-left:55px;
}

.me ion-img {
    width:30px;
    height:30px;
    
}

.me ion-avatar {
    margin-right:0;
    margin-top:10px;
}

.to ion-avatar {
    transform: translate(-0%,-50%);
}

.to ion-label {
    white-space: initial;
}

.separate {
    border-bottom:solid var(--ion-color-medium-shade) 1px;
}

.sorted {
    font-size:14px;
    color: var(--ion-text-color);
}


.cover {
    height:300px; width:100%;
}

.cover img {
    object-fit: cover; width:100%; height:100%;
}

ion-badge {
    --background: linear-gradient(rgba(9,177,186,0.08), rgba(9,177,186,0.08)),#fff;
    position:relative;
    margin-right: 13px;
    border-radius: 80%;
    padding: 9px 10px 5px 10px;
    font-size: 25px;
    font-weight: bold;
}

.bump {
    font-weight:bold;
    color: var(--ion-color-dark-tint);
}

.reply {
    font-size: 12px;
}

.reply ion-icon {
font-size:12px;
}