<ion-header mode="ios">
  <ion-toolbar mode="md">
      <ion-buttons mode="md" slot="start">
          <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
    <ion-title>Your guide to IonVinted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list mode="md">

      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
          <p class="label" translate>How can i sell my items faster?</p> 
      </ion-item> 
       <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
          <p class="label" translate>Uploading an item step by step</p> 
       </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
          <p class="label" translate>What is IonVinted Balance for?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
          <p class="label" translate>Paying through IonVinted</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>Deleting inbox conversations</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
      <p class="label" translate>Who pays for shipping?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>What is item Bump?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>How to ship an item?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>How to set a correct price?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>Is selling on Ionvinted free?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>Choosing parcel size</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>What can i sell on Ionvinted?</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>Tips for great photos</p> 
      </ion-item> 
      <ion-item mode="md" lines="full" detail="true" button="true" [routerLink]="['/guide']"> 
        <p class="label" translate>What is "Wardrobe Spotlight"</p> 
      </ion-item> 
        
         
        
  
    </ion-list>

</ion-content>
