<ion-header mode="ios">
    <ion-toolbar mode="md">
        <ion-buttons mode="md" slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
      <ion-title>Lorem Title</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

  <h1>Item title ?</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro quas nemo iste voluptates repudiandae eius vitae, impedit reprehenderit quia explicabo ab modi! Rerum sint et recusandae aut error soluta minus :</p>
  <b>Sit amet consecteur.</b>

  <ul>
    <li>Lorem ipsum <a href="">dolor</a> Porro quas nemo iste voluptates repudiandae eius vitae.</li>
    <li>Porro quas <a href="">dolor Porro quas nemo</a> iste voluptates repudiandae eius Porro quas voluptates repudiandae.</li>
    <li>Lorem ipsum <a href="">voluptates </a> Porro quas nemo iste voluptates repudiandae eius vitae.</li>
    <li>Lorem ipsum Lorem ipsum Porro <a href="">quas nemo</a>.</li>
  </ul>
  
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro quas nemo iste voluptates repudiandae eius vitae, impedit reprehenderit quia explicabo ab modi! Rerum sint et recusandae aut error soluta minus :</p>
</ion-content>
